/* ----- Google fonts----- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* ---common Utilities---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Header Top banner style section start */

.top-banner {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(23, 0, 0, 1) 50%,
    rgba(0, 0, 1, 1) 100%
  );
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5rem;
  border-radius: 30px;
  margin-bottom: 10%;
}

.banner-description {
  width: 50%;
}

.title {
  font-size: 4.4rem;
  font-weight: 700;
  color: #ffffff;
}

.title-description {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

.top-banner-button {
  background-color: #dd0000;
  padding: 16px 25px 16px 25px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
}
/* Header Top banner style end */

/* -----side menubar style start----- */
.side-menu {
  width: 312px;
  height: 312px;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.side-menu button {
  width: 252px;
  height: 64px;
  border-radius: 10px;
}

.side-menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #161616;
}

/* -----side menubar style end----- */

/* -----main area blogs style start----- */
.blogs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 10px;
}

.blog-image img {
  width: 100%;
}

.blogs-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.blog {
  width: 312px;
  height: 362px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

.blog-details {
  padding-left: 10px;
  /* padding: 20px 10px; */
}

.blog-button {
  border: 1px solid #161616;
  border-radius: 5px;
  padding: 5px 20px;
  margin-top: 20px;
}

.blog-title {
  margin: 20px 0;
}

.icon {
  padding: 5px;
}

.timing {
  margin-right: 20px;
}

/* -----main area blogs style end----- */

/* ----Footer style---- */

footer {
  margin-top: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
  /* height: 40vh; */
  background-color: rgba(26, 17, 17, 0.966);
}

.footer-hr-line {
  border: 1px solid #ffffff1a;
  margin: 50px;
}
.footer-title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.company-info {
  text-align: center;
  padding: 10px;
}

.company-info a {
  text-decoration: none;
  padding: 20px;
  color: #b9b9b9;
}

.social-media-icon {
  text-align: center;
  padding: 30px;
}

.social-media-icon a {
  padding: 20px;
  font-size: 1.7rem;
  text-decoration: none;
}

.fa-facebook {
  color: #1877f2;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-instagram {
  color: #d7407f;
}
