.matches {
  width: 20vw;
  height: 40vh;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

.match {
  display: flex;
  align-items: center;
  padding: 20px;
}
.matches p {
  padding: 0 10px;
}

.match-description {
  text-align: center;
  color: black;
}

#blog {
  background-color: white;
  color: black;
}
#upcoming-match {
  background-color: red;
  color: white;
}
